$color-background-white: #f2f2f2;
$color-clear-white: #ffffff;
$color-text-gray: #888888;
$color-light-gray: #cccccc;
$color-checkbox-green: #5dc2af;
$color-filter-focused: #ebdfdf;
$color-panel-focused: #fafafa;
$color-checkbox-unchecked: #e6e6e6;


$image-delete: url(../res/delete.svg);
$image-checkall: url(../res/checkall.svg);
$image-checkbox: url(../res/checkbox.svg);

$shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);