@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i&display=swap');
@import "todos-header.css";
@import "./todos-checkbox.css";
@import "./todos-panel.css";
@import "./todos-actionbar.css";
@import "./todos-list.css";

html,
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}