@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i&display=swap');
@import "todos-header";
@import "todos-checkbox";
@import "todos-panel";
@import "todos-actionbar";
@import "todos-list";
@import "vars";

html,
body {
  margin: 0;
  padding: 0;
  background: $color-background-white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}