@import "vars";

.todos-panel-actions-filters__filter {
    display: flex;
    padding: 0 10px 0 10px;
}

.todos-panel-actions-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.todos-panel__radiobutton:checked + .task-panel__text {
    border: 1px solid $color-filter-focused;
    border-radius: 5px;
    padding: 4px;
}

.todos-panel__radiobutton:focus + .task-panel__text {
    border: 2px solid $color-light-gray;
    border-radius: 5px;
    padding: 3px;
}

.todos-panel__radiobutton {
    opacity: 0;
    position: absolute;
    left: -1000000000px;
}