@import "vars";

.todos-header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.todos-header__text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 100px;
    color: $color-light-gray;
    margin: 0;
}