.todos-panel__checkbox-base {
    opacity: 0;
    margin-right: -20px;
}

.todos-panel__checkbox-view {
    display: flex;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    margin: 10px;
    align-items: center;
}

.todos-panel__checkbox-base:checked
+ .todos-panel__checkbox
.todos-panel__checkbox-view {
    border: 1px solid #5dc2af;
    background-image: url(../res/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.todos-panel__checkbox-base:focus
+ .todos-panel__checkbox
.todos-panel__checkbox-view,
.todos-panel__checkbox-base:hover
+ .todos-panel__checkbox
.todos-panel__checkbox-view {
    border: 1px solid #cccccc;
}

.todos-panel__checkbox-base:checked ~ .todos-panel-list-task__text {
    text-decoration: line-through;
    color: #cccccc;
}